* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.45s linear;
}

body {
    --primary: #242424;
}

body[data-theme="red"],
.theme button[data-theme-list="red"] {
    --primary: #e34646;
}

body[data-theme="orange"],
.theme button[data-theme-list="orange"] {
    --primary: #ffbf00;
}

body[data-theme="green"],
.theme button[data-theme-list="green"] {
    --primary: #29df68;
}

body[data-theme="blue"],
.theme button[data-theme-list="blue"] {
    --primary: #4191d2;
}

body[data-theme="purple"],
.theme button[data-theme-list="purple"] {
    --primary: #8e4ad2;
}

section {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--primary);
}

.theme {
    background-color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(5, 2rem);
    gap: 2.5rem;
    isolation: isolate;
}

.theme button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--primary, #222);
    position: relative;
}

.theme button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: -1;
    opacity: 0.25;
    transition: all 0.25s linear;
    border-radius: 50%;
}

.theme button:hover::before,
.theme button:focus:before {
    transform: scale(1.5);
}

.theme button.active {
    border: 4px solid white;
    outline: 2px solid #242424;
}